<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<base href="/">
		<link rel="stylesheet" href="/assets/css/style01.css" type="text/css" />
		<title>MVC With Cats!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/javaScript/burgers.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>